@mixin min-width ($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin max-width ($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin max-height ($height) {
  @media (max-height: $height) {
    @content;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}
/*
div::after {
  @include pseudo;
  top: -1rem; left: -1rem;
  width: 1rem; height: 1rem;
}*/
