.error__wrapper {
  position: relative;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error__background {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -2;
  opacity: 0.2;
  background-color: rgba(#000000, 0.08);
  background-image: url('/static/images/pattern-cucumber.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.error__shadow {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-color: rgba(#000000, 0.1);
  overflow: hidden;
}

.error__text-wrapper {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error__code {
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 20px;
}

.error__text {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}

.error__return-link {
  text-decoration: none;
  color: #1d6669;
  font-weight: 600;
}
