.messenger-app__wrapper {
  position: relative;
  height: 100vh;
}

.messenger-app__background {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -2;
  opacity: 0.20;
  background-color: rgba(#000000, 0.08);
  background-image: url("images/pattern-cucumber.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.messenger-app__shadow {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-color: rgba(#000000, 0.1);
  overflow: hidden;
}

.messenger-app__main-window {
  display: flex;
  background-color: #ffffff;
}

.messenger-app__left-side {
  background-color: #FBFBFB;
  border-right: 1px solid #EAEAEA;
  width: 29%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: #999;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #999999;
  }
}

.messenger-app__left-head {
  position: relative;
  padding: 0 10px 14px;
  border-bottom: 1px solid #EAEAEA;
}

.messenger-app__user {
  padding-top: 15px;
  padding-bottom: 5px;
}

.messenger-app__user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 9px;
  cursor: pointer;
}

.messenger-app__chats-list {
  padding-left: 0;
}

.messenger-app__right-side {
  position: relative;
  width: 71%;
}

.messenger-app__chat-notice {
  color: #1D6669;
  font-size: 16px;
}

.messenger-app__chat-notice-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.messenger-app__profile-menu {
  top: 60px;
  left: 16px;
}

.messenger-app__chat-area-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messenger-app__user-tab {
  position: static;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 10px;
  padding-top: 10px;
}

.messenger-app__current-user-menu {
  right: 0;
  top: 50px;
}

.messenger-app__user-tab-menu-wrapper {
  margin-left: auto;
  position: relative;
}

.messenger-app__current-user-info {
  display: flex;
  align-items: center;
}

.messenger-app__current-user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 8px;
}

.messenger-app__current-user-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
}

.messenger-app__user-tab-button {
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &:focus,
  &:hover {
    background-color: #F5F5F5;
  }
}

.messenger-app__chat-window {
  flex: 1 1 0;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: #999;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #999999;
  }
}

.messenger-app__footer-tab {
  width: 100%;
  border-top: 1px solid #EAEAEA;
  display: flex;
  padding-top: 11px;
  padding-bottom: 11px;
}

.messenger-app__attachment-wrapper {
  position: relative;
  margin-right: 10px;
}

.messenger-app__attachment-menu {
  bottom: 54px;
}

.messenger-app__attachment-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.messenger-app__insert-message-input {
  background-color: #EFEFEF;
  border-radius: 30px;
  border: none;
  outline: none;
}

.messenger-app__send-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin-left: 12px;
}

.messenger-app__insert-message-wrapper {
  flex: 1 1 0;
}

.messenger-app__insert-message-input {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.messenger-app__chats-wrapper {
  position: relative;
}

.messenger-app__create-chat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: none;
  border-bottom: 1px solid #EAEAEA;
  background: transparent;
  width: 100%;
  min-height: 72px;
  color: #999999;
  padding: 18px 10px;
  transition: .15s;
}

.messenger-app__new-chat-field {
  width: 320px;

  input {
    padding: 5px;
    border: 1px solid #1BA5AB;
    border-radius: 5px;
    font-weight: 500;
  }

  label {
    left: 6px;
    top: 7px;
  }
}

.messenger-app__new-chat-button {
  width: 320px;
  background-color: #1BA5AB;
  margin-top: 20px;

  &:hover {
    background-color: #1D6669;
  }
}

.messenger-app__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(3px);
}