.registration {
  position: relative;
  height: 100vh;

  @include max-height(535px) {
    height: auto;
  }
}

.registration__background {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -2;
  opacity: 0.20;
  background-color: rgba(#000000, 0.08);
  background-image: url("images/pattern-cucumber.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;

  @include max-height(535px) {
    height: 100%;
    overflow: auto;
  }
}

.registration__shadow {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-color: rgba(#000000, 0.1);
  overflow: hidden;

  @include max-height(535px) {
    height: 100%;
    overflow: auto;
  }
}

.registration__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.registration__form-wrapper {
  width: 340px;
  box-sizing: border-box;
}