.message {
  background-color: #f8f8f8;
  border-radius: 0 12px 12px;
  padding: 11px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  max-width: fit-content;

  &_right {
    margin-left: auto;
    margin-right: 10px;
    background-color: #CAE8EA;
    border-radius: 12px 12px 0;

    .message__time {
      color: #1D6669;
    }

    &+ .message:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.message__body {
  color: #1E1E1E;
}

.message__time {
  color: #999999;
  align-self: flex-end;
}