.search-bar {
  position: relative;
}

.search-bar__input {
  border: 1px solid #EAEAEA;
  background-color: #EFEFEF;
  outline: none;
  width: 100%;
  border-radius: 6px;
  padding: 5px 10px;

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
  &::-webkit-input-placeholder {
    text-align: center;
  }

  &:focus::-moz-placeholder {
    color: transparent;
  }
  &::-moz-placeholder {
    text-align: center;
  }

  &:focus:-moz-placeholder {
    color: transparent;
  }
  &:-moz-placeholder {
    text-align: center;
  }

  &:focus:-ms-input-placeholder {
    color: transparent;
  }
  &:-ms-input-placeholder {
    text-align: center;
  }
}